<div class="row">
  <div class="col-lg-3">
    <br />
    <book-category></book-category>
  </div>
  <br />
  <div class="col-md-9 mt-2">
    <div class="row">
      <div *ngIf="cartItems.length > 0">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead class="bg-dark text-light">
              <tr>
                <td width="20%">Book Image</td>
                <td width="50%">Book Details</td>
                <td width="30%"></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cartItem of cartItems">
                <td>
                  <img
                    src="{{ cartItem.imageUrl }}"
                    class="img-responsive"
                    width="150"
                    height="200"
                    alt="Book Image"
                  />
                </td>
                <td>
                  <p>{{ cartItem.name }}</p>
                  <p>{{ cartItem.unitPrice | currency: "USD" }}</p>
                </td>
                <td>
                  <span
                    (click)="remove(cartItem)"
                    class="float-right pointer text-danger"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </span>
                  <p>Quantity:</p>
                  <div class="row">
                    <div class="col-md-2">
                      <button
                        (click)="incrementQuantity(cartItem)"
                        class="btn btn-primary btn-sm float-left"
                      >
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-8">
                      <p style="text-align: center;">{{ cartItem.quantity }}</p>
                    </div>
                    <div class="col-md-2">
                      <button
                        (click)="decrementQuantity(cartItem)"
                        class="btn btn-primary btn-sm float-right"
                      >
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                    <div class="col-md-12 mt-4">
                      <p>
                        Subtotal:
                        {{
                          cartItem.unitPrice * cartItem.quantity
                            | currency: "USD"
                        }}
                      </p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="font-weight-bold">
                  <p>Total Quantity: {{ totalQuantity }}</p>
                  <p>Shipping: Free</p>
                  <p>Total Price: {{ totalPrice | currency: "USD" }}</p>
                  <button
                    *ngIf="totalQuantity > 0"
                    routerLink="/checkout"
                    class="btn btn-primary"
                  >
                    Checkout
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div
        *ngIf="cartItems.length === 0"
        class="col-md-12 alert alert-warning mt-3"
      >
        You have no items in your cart
      </div>
    </div>
  </div>
</div>
